
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar{
    opacity: 0.75;
}

hr{
    color: white;
    border-color: inherit;
}


.navbar-slash{
    padding-top: 7px;
    display: block;
    color: white;
}

#home{
    background-image: url("../../../public/img/home.jpg");
    background-size: cover;
    height: 700px;
    padding-top: 300px;
}

#jumbotronTitle{
    font-size: 60px;
    font-weight: bold;
}

#greyBand{
    background-color: grey;
    padding: 50px;

}

.greyBandText{
    font-size: x-large;
}

.greyBandButton{

}

#contactBox{

}

#onlineCourseBtn{
    color: #8f1839;
    border-color: #8f1839;
    border-radius: 0 !important;
}

#threeButtons{

}

#contactButton{
    margin-left: 90px;
    border-color: black;
    border-radius: 0 !important;
}

#applyButton{
    border-radius: 0 !important;
}

.straightEdges{
    border-radius: 0 !important;
}
