
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}



hr{
    color: white;
    border-color: inherit;
}


.navbar-slash{
    padding-top: 7px;
    display: block;
    color: white;
}

#home{
    background-image: url("../../../public/img/home.jpg");
    background-size: cover;
    height: 700px;
    padding-top: 300px;
}

#greyBand{
    background-color: grey;
    padding: 50px;
}

.greyBandText{
    font-size: x-large;
}

.greyBandButton{

}
